.flex{
    display: flex;
    flex-direction: column;
    padding:0.3em;
    margin-left: 0px;
    margin-right: 0px;
  }

  h1,h4,footer{
      color: orangered;
      text-align: center;
  }
  .flex>input{
      border-radius: 4px;
      padding-top: 15px;
  }
  body{
     background-color: chartreuse;
  }

  img{
      height: 200px;
      width: 200px;
  }
  .form{
      background-color: #ffBB00;
      border-radius: 25px;
      height: 40%;
  }
 
  .form>inpute{
      width: 10%;
      margin: 8px; 
  }
  .game{
      padding-top: 30px;
  }

  .card{
      width: 18em;
      background-color: #ffBB00;

  }

  .card>input,button{
      border-radius: 5px;
      display: inline;
      padding: 5px;
  }

  h5{
    color: orangered;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
  }