#audio{
    height: 0;
    width: 0;
}

body{
    background-image: url("https://as1.ftcdn.net/jpg/00/91/53/24/500_F_91532497_d4haFnoUVlrxAxcIn9eqw3IDdO9bxEAQ.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    background-color: aqua;
    margin-left: 0px;
    margin-right: 0px; 
    width: 50%;

}
legend{
    text-align: center;
}

h1{

    text-align: center;
}